
.container { 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  // height: 30vh;
  min-width: 500px;
  margin: 0;
  
  // bottom: 0;.container .App
  body {
    background-color: #282c34;
  }
  
  .App {
    text-align: center;
    width: 100%;
    min-width: 20%;
    // margin: 0 ;
  }
  
  .App header {
    background-color: #18aa8a58;
    min-height: 5rem;
    border-top-left-radius: 15px;
    color: white;
    // position: fixed;
    width: 100%;
    // max-width: 728px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    // padding: 10px;
    // box-sizing: border-box;
  }
  
  .App section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 8vh;
    background-color: rgba(37, 53, 44, 0.25);
  }
  
  main {
    // padding: 10px;
    height: 30vh;
    // margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  main::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  main::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  main::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  form {
    // height: 10vh;
    // position: fixed;
    bottom: 0;
    background-color: rgba(24, 23, 23, 0.432);
    // width: 100%;
    max-width: 28vw;
    display: flex;
    font-size: 1.5rem;
  }
  
  form button {
    width: 70%;
    background-color: rgba(56, 56, 143, 0.476);
  }
  
  
  input {
    // line-height: 1.5;
    width: 100%;
    font-size: 2rem;
    background: rgba(58, 58, 58, 0.285);
    color: white;
    outline: none;
    border: none;
    padding: 23px 23px;
  }
  
  button {
    background-color: #20613564; /* Green */
    border: none;
    color: white;
    padding: 23px 23px;
    // text-align: center;
    // align-items: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .sign-in {
    height: 5vh;
    color: #282c34;
    background: rgb(186, 143, 207);
    // max-width: 200px;
    margin: 0 auto;
    display: flex;
    z-index: 100;
    font-family: fatty;
  }
  
  
  
  
  ul, li {
    text-align: left;
    list-style: none;
    font-family: fatty;
  }
  
  p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
    font-family: fatty;
  }
  
  .message {
    display: flex;
    align-items: center;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: rgb(255, 255, 255);
    background: #638b6b;
    align-self: flex-end;
  }
  .received p {
    background: #e5e5ea;
    color: black;
  }
  
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }
}