.footer {
  height: 8vh;
  // padding: 40px 80px;
  position: absolute;
  bottom: 0;
  width: 100vw;
}
  a, button {
    background-color: rgba(51, 74, 75, 0.51);
    padding: 10px 15px;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
