.navbar {
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;

  a, button {
    background-color: rgba(251, 251, 142, 0.986);
    padding: 8px 10px;
    margin-right: 20px;
  }
}