.navbar {
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;

  a, button {
    background-color: rgba(51, 74, 75, 0.51);
    padding: 10px 15px;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-family: fatter;
  }
}