@font-face {
    font-family: fatty;
    src: url('./assets/fonts/fat.ttf');
}
@font-face {
    font-family: fatter;
    src: url('./assets/fonts/VegasNeon.ttf');
}
@font-face {
    font-family: Redd ;
    src: url('./assets/fonts/red.otf');
}
@font-face {
    font-family: mona;
    src: url('./assets/fonts/fatter.ttf');
}