@import './fonts';
*{
  font-family: fatty;
}


.app {
  text-align: center;
  
  display: flex;
  flex-direction: column;
  
}

.cards{
  position: relative;
  top: 10vh;
  
}
.content {
  flex: 1;
}
.cardsProfile{
  position: relative;
  top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.profileForm{
 width: 25%;
 background-color: rgba(51, 74, 75, 0.51);
 border-radius: 10px;
}
.postForm{
  width: 25%;
  background-color: rgba(51, 74, 75, 0.51);
  border-radius: 10px;
 }
 a{
  font-family: fatty;
 }

 button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 4rem;
  font-size: 2rem;
 }
 p{
  color: white;
 }

 @import "~bootstrap/scss/bootstrap";