.app {
  text-align: center;
  
  display: flex;
  flex-direction: column;
  
}
.cards{
  position: relative;
  top: 10vh;
  
}
.content {
  flex: 1;
}
.cardsProfile{
  position: relative;
  top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.profileForm{
 width: 25%;
 background-color: rgba(59, 133, 17, 0.36);
}
.postForm{
  width: 25%;
  background-color: rgba(59, 133, 17, 0.36);
 }