

 
    form {
        margin: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    label {
        margin: 10px;
        color: whitesmoke;
    }
    input{
        width: 400px;
        // height: 25px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        cursor: pointer;
    }
    textarea{
        width: 400px;
        // height: 200px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        
    }
    button{
        // width: 200px;
        // height: 25px;
        border-radius: 10px;
        
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
    }
